<!DOCTYPE HTML>
<html>
<head>
   <title>MESSAGE</title>
   <link href="res/css/bootstrap.css" rel='stylesheet' type='text/css' />
   <link href="res/css/style.css" rel='stylesheet' type='text/css' />
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="keywords" content="Blogname Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"
           />
   <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
   <!----webfonts---->
   <link href='http://fonts.useso.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
   <link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
   <!----//webfonts---->
   <script src="http://ajax.useso.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <!--end slider -->
   <!--script-->
   <script type="text/javascript" src="res/js/move-top.js"></script>
   <script type="text/javascript" src="res/js/easing.js"></script>
   <script type="text/javascript" src="res/dataJs/jquery.cookie.js"></script>
   <script type="text/javascript" src="res/dataJs/mainyx.js"></script>
   <script type="text/javascript" src="res/dataJs/message.js"></script>
   <!--/script-->
   <script type="text/javascript">
      jQuery(document).ready(function($) {
         $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
         });
      });
   </script>
   <!---->
</head>
<body>
<!---strat-banner---->
<div class="banner">
   <div class="header">
      <div class="container">
         <div class="logo">
            <a href="index"> <img src="res/images/logo.png" title="soup" /></a>
         </div>
         <!---start-top-nav---->
         <div class="top-menu">
            <span class="menu"> </span>
            <ul>
               <li class="active"><a href="index">BLOG</a></li>
               <li><a href="#" ONCLICK="main()">MAIN</a></li>
               <li><a href="sendMessage">MESSAGE</a></li>
               <li><a href="register">REGISTER</a></li>
               <li><a href="signup">SIGNUP</a></li>
               <div class="clearfix"></div>
            </ul>
         </div>
         <script>
            $("span.menu").click(function(){
               $(".top-menu ul").slideToggle("slow" , function(){
               });
            });
         </script>
         <!---//End-top-nav---->
      </div>
   </div>
   <div class="container">
      <div class="banner-head">
         <h1>Lorem ipsum dolor sit amet</h1>
         <h2>cliquam tincidunt mauris</h2>
      </div>
   </div>
</div>
<!---//End-banner---->
<div class="contact">
   <div class="container">
      <div class="contact-head">
         <h3>MESSAGE</h3>
         <form action="addMessage" name="form1" method="post"  enctype='multipart/form-data'>
            <div class="col-md-6 contact-left">
               <input type="text" id="title" name="title" placeholder="title" required/>
               <img src="" id="preview"  style="display: block; width: 300px; height: 180px;"/><br>
               <input type="file" name="img" id="doc" style="width:300px;" onchange="setImagePreview();"/>

            </div>
            <div class="col-md-6 contact-right">
               <textarea id="contents" name="contents"  placeholder="message"></textarea>
               <input type="button" value="SEND" onclick="validate()"/>
            </div>
            <div class="clearfix"></div>
         </form>
      </div>

   </div>
</div>
<!--fotter-->
<div class="fotter">
   <div class="container">
      <div class="col-md-4 fotter-info">
         <h3>INTEGER VITAE LIBERO</h3>
         <p>Raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. </p>
         <p>Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. Phasellus ultrices nulla quis nibh. Quisque a lectus. </p>
      </div>
      <div class="col-md-4 fotter-list">
         <h3>VESTIBULUM COMMO</h3>
         <ul>
            <li><a href="#">Ut alliquam solicitudin</a></li>
            <li><a href="#">Neque id cursus faucibus</a></li>
            <li><a href="#">Raesent dapibus neque id cursus</a></li>
         </ul>
      </div>
      <div class="col-md-4 fotter-media">
         <h3>FOLLOW US ON....</h3>
         <div class="social-icons">
            <a href="#"><span class="fb"> </span></a>
            <a href="#"><span class="twt"> </span></a>
            <a href="#"><span class="in"> </span></a>
         </div>
      </div>
      <div class="clearfix"></div>
   </div>
</div>

<!---->
<script type="text/javascript">
   $(document).ready(function() {
      /*
       var defaults = {
       containerID: 'toTop', // fading element id
       containerHoverID: 'toTopHover', // fading element hover id
       scrollSpeed: 1200,
       easingType: 'linear'
       };
       */
      $().UItoTop({ easingType: 'easeOutQuart' });
   });
</script>





</body>
</html>